<div class="welcome-message">
  <div class="container">
    <div class="row">
      <div class="text">
        <h2><span>Welcome to Nelel Company</span></h2>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est alias
          quisquam minus architecto ea ipsam eius a. Tenetur omnis deleniti
          fugit culpa temporibus, doloribus adipisci optio aperiam consequuntur
          consequatur. Hic!
        </p>
      </div>
      <div class="offers">
        <h5>There is only one management company that offers:</h5>
        <div class="col-sm-12 col-lg-6">
          <ul>
            <li>Lorem ipsum dor sit amet</li>
            <li>Lorem ipsum dor sit amet</li>
            <li>Lorem ipsum dor sit amet</li>
            <li>Lorem ipsum dor sit amet</li>
            <li>Lorem ipsum dor sit amet</li>
            <li>Lorem ipsum dor sit amet</li>
            <li>Lorem ipsum dor sit amet</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
