.users {
        ul {
                margin-top: 10%;
        } h1 {
                color: black;
        }
        .user-detail-route {
                cursor: pointer;
                font-weight: 500;
        }
        .employees{
                margin-top: 6%;
        }
}