:root {
  /* primary colors*/
  --nelel-website-color-primary-royal-blue: #4169E1;
  --nelel-website-color-primary-green: #345421;
  --nelel-website-color-primary-grey: #cfcfcf;

/*   buttons */
//   --nelel-website-color-button-red: 

  /*footer*/
  --nelel-website-footer-background-color: #292a50;
}
