.navbar {

        img {
                height: 40px;

        } .logo {
                margin-right: 5%;
        } button {
                border-radius: 5px;
        } li {
                font-size: 1rem;
                font-weight: bold;
        }
}