<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
  <div class="container">
    <a
      routerLink="/"
      class="nav-link active logo"
      (click)="closeNavbar()"
      aria-current="page"
      ><img
        src="/assets/images/nelelco.png"
        alt="nelelco-logo"
        class="img-fluid logo"
    /></a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            routerLink="/"
            class="nav-link active"
            (click)="closeNavbar()"
            aria-current="page"
          ></a>
        </li>
        <li class="nav-item" routerLinkActive="router-link-active">
          <a
            routerLink="/users"
            routerLinkActive="router-link-active"
            class="nav-link active"
            (click)="closeNavbar()"
            >Users</a
          >
        </li>
        <li class="nav-item" routerLinkActive="router-link-active">
          <a
            routerLink="/tasks"
            routerLinkActive="router-link-active"
            class="nav-link active"
            (click)="closeNavbar()"
            >Tasks</a
          >
        </li>
        <li class="nav-item">
          <a
            routerLink="/resources"
            class="nav-link active"
            (click)="closeNavbar()"
            >Resource</a
          >
        </li>
        <li class="nav-item">
          <a
            routerLink="/pricing"
            class="nav-link active"
            (click)="closeNavbar()"
            >Pricing</a
          >
        </li>
        <!-- <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li> -->
        <!-- <li class="nav-item">
                <a class="nav-link disabled" aria-disabled="true">Disabled</a>
              </li> -->
      </ul>
      <div>
        <ul class="navbar-nav">
          <!-- <li class="nav-item">
            <a
              routerLink="/contact"
              class="nav-link active"
              (click)="closeNavbar()"
              ><button class="start" type="button">Login</button></a
            >
          </li> -->
          <li class="nav-item">
            <a
              routerLink="/login"
              class="nav-link active"
              (click)="closeNavbar()"
              ><button class="start" type="button">Login</button></a
            >
          </li>
          <li class="nav-item">
                
              </li>
        </ul>
      </div>
      <!-- <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form> -->
    </div>
  </div>
</nav>
