.login-container {
  height: auto;
  .login {
    margin-top: 8%;
    // height: 60vh;
  }
  .avi {
    margin-bottom: 10%;
  }
  h1 {
    text-align: center;
    margin-top: 10%;
    font-size: xx-large;
    font-weight: 500;
  }

  @media (max-width: 1024px) {
    .login {
      margin-top: 4%;
      margin-bottom: 4%;
    }
    .avi {
      margin-bottom: 5%;
    }
  }

  button {
        background-color: var(--nelel-website-color-primary-royal-blue);
        color: white
        
  }
  #username{
        margin-bottom: 4%;
  }
}
