<div class="landing-page">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="web-title">
          <span
            ><h1>The Best Work Management Platform. AI Powered (:-)</h1></span
          >
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed iste
            nisi officia quaerat, consequuntur !
          </p>
          <div>
                <button class="start" type="button">Get started</button>
                <button class="end" type="button" routerLink="/home">See how it works</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
